@use "./colors";
$black-gradient-period: linear-gradient(
  180deg,
  colors.$black-gradient-start 0%,
  colors.$black-gradient-finish 100%
);
$gray-gradient: linear-gradient(
  180deg,
  colors.$twilight-blue 0%,
  colors.$silver 100%,
  colors.$gray-gradient-finish 100%
);
$gray-gradient-period: linear-gradient(
  180deg,
  colors.$gray-gradient-period-start 0%,
  colors.$trout 100%
);
$green-gradient-period: linear-gradient(
  180deg,
  colors.$olivine 0%,
  colors.$hippie-green 100%
);
$lightgray-gradient: linear-gradient(
  180deg,
  colors.$lightgray-gradient-start 0%,
  colors.$twilight-blue 100%
);
$orange-gradient-period: linear-gradient(
  180deg,
  colors.$sea-buckthorn 0%,
  colors.$tango 100%
);
$red-gradient: linear-gradient(
  180deg,
  colors.$fuzzy-wuzzy-brown 0%,
  colors.$apple-blossom 100%
);

$dark-gray-gradient: linear-gradient(
  180deg,
  colors.$river-bed 0%,
  colors.$bright-gray 100%
);
