$main-font-color-on-dark: white;
$main-font-color-on-bright: #2c2c2c;
$main-font-color-on-bright-dimmed: #525c6b;
$highlight-color: #7ee3cf;
$plain-bright-background: white;
$dark-background: #464c58;
$border-for-dark-background: #818793;
