$apple-blossom: #a74040;
$atlantis: #71d442;
$black-gradient-finish: #22272d;
$black-gradient-start: #252930;
$border-for-dark-background: #818793;
$dark-background: #464c58;
$fuzzy-wuzzy-brown: #c65b5b;
$gray-gradient-finish: #cfd0d4;
$grey: #888888;
$highlight-color: #7ee3cf;
$hippie-green: #64954f;
$lightgray-gradient-start: #cecfd3;
$main-font-color-on-bright-dimmed: #525c6b;
$main-font-color-on-bright: #2c2c2c;
$main-font-color-on-dark: white;
$mine-shaft: #2c2c2c;
$olivine: #8ebb70;
$gray-gradient-period-start: #646d7e;
$pale-sky: #747982;
$plain-bright-background: white;
$red-warning: #ff5252;
$sea-buckthorn: #f8ab2a;
$shark: #282d34;
$shuttle-gray: #585f6e;
$silver: #c4c4c4;
$tango: #f47d1e;
$trout: #474d59;
$twilight-blue: #faffff;
$white: #ffffff;
