@use "../../styles/colors";

.wrapper {
  display: flex;
}

.input {
  background: transparent;
  border: 2px solid colors.$main-font-color-on-dark;
  border-right: none;
  border-radius: 3rem 0 0 3rem;
  color: white;
  font-size: 1.4rem;
  height: 3rem;
  padding: 0 1rem;
  width: 14rem;

  &:focus {
    outline: none;
  }
}

.btnContainer {
  border: 2px solid colors.$main-font-color-on-dark;
  border-radius: 0 3rem 3rem 0;
  border-left: none;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-right: 0.2rem;
}
