.input {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3rem;
  color: white;
  font-size: 1.4rem;
  height: 3rem;
  padding: 0 1rem;
  width: 20rem;

  &:focus {
    outline: none;
  }
}
