@use "../../styles/backgrounds";
@use "../../styles/colors";
@use "../../styles/shadows";
@import "../../styles/input";

.wrapper {
  display: flex;
  text-align: right;
}

input {
  margin-right: 1px;
}

.extreme {
  font-size: 0.42rem;
  line-height: 0.46rem;
}

.incrementer {
  font-size: 0.6rem;
  line-height: 0.7rem;
  margin-right: -1px;
}

.helpers > button {
  background: backgrounds.$dark-gray-gradient;
  border-radius: 0px;
  border: 1px solid colors.$ebony-clay;
  box-shadow: shadows.$box-shadow-helpers;
  box-sizing: border-box;
  color: colors.$white;
  display: block;
  height: 0.85rem;
  padding: 0;
  text-align: center;
  width: 1.23rem;

  &:hover {
    color: colors.$atlantis;
  }
  &:not(:first-child) {
    margin-top: -1px;
  }
}

.outside {
  button:first-child {
    border-radius: 0 0.3rem 0 0;
  }
  button:nth-child(2) {
    border-radius: 0 0 0.3rem 0;
  }
}
