@use "../../styles/backgrounds";
@use "../../styles/colors";

.wrapper {
  align-items: center;
  background: backgrounds.$gray-gradient;
  border-radius: 0.4rem;
  display: flex;
  height: 3.5rem;
  justify-content: flex-end;
  margin: 1rem 1rem 0 0;
  padding: 0 1rem;
}
