@use "styles/colors";
@use "styles/fonts";

@import-normalize;

html {
  font-size: 13px;
}

body {
  background: url(./background.png);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
