@use "../../styles/colors";
@use "../../styles/shadows";
@use "../../styles/backgrounds";

$track-width: 19.385rem;
$track-height: 0.615rem;
$thumb-diameter: 1.615rem;
$shift: $track-width - $thumb-diameter;
$arrow-width: 0.23rem;

.container {
  position: relative;
}

@mixin track() {
  background-color: colors.$dark-slider-background;
  background-image: url("../../images/slider-fill-rounded-edge.svg"),
    url("../../images/slider-fill.svg");
  background-position: 0;
  background-repeat: no-repeat, no-repeat;
  background-size: $track-height, var(--sx) 100%;
  border-radius: 0.3rem;
  box-shadow: shadows.$box-shadow-slider-track;
  box-sizing: border-box;
  height: $track-height;
  outline: none;
}

@mixin thumb() {
  background: url("../../images/slider-thumb.svg") no-repeat;
  border: 0;
  border-radius: 50%;
  height: $thumb-diameter;
  width: $thumb-diameter;
  &:hover {
    box-shadow: shadows.$box-shadow-lider-thumb;
  }
}

.slider {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc(0.5 * #{$thumb-diameter} + var(--ratio) * (100% - #{$thumb-diameter}));
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: $thumb-diameter;
  margin: 0;
  outline: none;
  width: $track-width;
  &::-webkit-slider-runnable-track {
    @include track();
  }
  &::-moz-range-track {
    @include track();
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0.5 * ($track-height - $thumb-diameter);
    @include thumb();
  }
  &::-moz-range-thumb {
    @include thumb();
  }
}

.label {
  background: backgrounds.$lightgray-gradient;
  border-radius: 0.3rem;
  box-shadow: shadows.$box-shadow-informer-1;
  color: colors.$mine-shaft;
  font-size: 0.92rem;
  left: $thumb-diameter / 2;
  line-height: 1.076rem;
  min-width: 2.3rem;
  padding: 0 0.23rem;
  position: absolute;
  text-align: center;
  top: calc(0.538rem + #{$thumb-diameter});
  transform: translate(
    calc((var(--val) - var(--min)) / (var(--max) - var(--min)) * #{$shift} - 50%)
  );
}

.label::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(50% - #{$arrow-width});
  border-width: $arrow-width;
  border-style: solid;
  border-color: transparent transparent colors.$lightgray-gradient-start transparent;
}
